<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EngineerTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EngineerTools.Properties.Settings.projectConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\project.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EngineerTools.Properties.Settings>
            <setting name="ProjectRootFolder" serializeAs="String">
                <value>E:\test</value>
            </setting>
            <setting name="RTXFileFolder" serializeAs="String">
                <value>D:\QYQ\zhangsan</value>
            </setting>
            <setting name="ProgramInitialed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MdbFileName" serializeAs="String">
                <value>project.mdb</value>
            </setting>
            <setting name="DataBaseType" serializeAs="String">
                <value>ACCESS</value>
            </setting>
            <setting name="SharePointRootFolder" serializeAs="String">
                <value>\\sharepoint.xxx.com@SSL\DavWWWRoot\PWA</value>
            </setting>
        </EngineerTools.Properties.Settings>
    </userSettings>
</configuration>
